

/*#region Header_Style*/
#header{
    background-color: #21192e;
    font-family: 'Shrikhand', cursive;
    color: #ffdd00;
}
.tb1{
    font-size: 20px;
    padding-left: 10px;
    color: #ffdd00;
}
#p1{
    font-size: 20px;
    display: inline-block;
    padding-right: 5px;
    text-align: right;
}
/*#endregion Header_Style*/


/*#region Menu_Style*/

#span {
    font-size:35px;
    cursor:pointer;
    float: left;
    z-index: 1;
    vertical-align: top;
    color: #ff7885;
    background-color: #f1f1f1;
    padding: 10px 20px 10px 20px;
    border-bottom-right-radius: 5px;
    font-family: 'Shrikhand', cursive;

}
#span:hover{
    background-color: #b5b6c1;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #193047;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.sidenav a {
    text-align: center;
    padding-top: 40px;

    text-decoration: none;
    font-size: 30px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
    font-family: 'Shrikhand', cursive;
}

#menuimg {
    padding-top: 100px;
    padding-left: 30%;
    width: 70px;
    hight: 70px;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #818181;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.dialog{
    background-image: url("img/bg2.gif");
    color:white;
    font-family: David;
    letter-spacing: 1px;
    font-size: 20px;
}

.gameover{
    background-image: url("img/bg2.gif");
    color:white;
    font-family: David;
    letter-spacing: 1px;
    font-size: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/*#endregion Menu_Style*/

/*#region Welcome_Style*/

#welcomeDiv {
    background-image: url("img/bg3.gif");
    background-size: cover;
    width:100%;
    height:100%;
}

.btn_welcome {
    margin: auto;
    width: 5%;
    font-family: 'Shrikhand', cursive;
    border: 1px solid #b5b6c1;
    background-color: #ffdd00;
    border-radius: 15px;
    color: #080500;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn_welcome:hover{
    background-color: #f1f1f1;
}

#logo{
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 20%;
    vertical-align: middle;
}

/*#endregion Welcome_Style*/

/*#region Login_Style*/

#loginDiv{
    width:100%;
    height:100%;
    text-align: center;
    background-image: url("img/bg3.gif");
    background-size: cover;
}

#game{
    width:100%;
    height:100%;
    text-align: center;
    background-image: url("img/bg3.gif");
    background-size: cover;
}
.submit{
    padding: 10px 40px;
    margin: 19px;
    color: white;
    background: #040124;
    border: none;
    font-size: 18px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    border-radius: 50%;
    font-family: 'Shrikhand', cursive;
}
.submit:hover{
    background-color: #b5b6c1;
}
.color{
    background-color: cornflowerblue;
}
.color:hover{
    background-color: #b5b6c1;
}
.logout{
    font-size: 25px;;
    letter-spacing: 3px;
    display: block;
    float: right;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    cursor:pointer;
    z-index: 1;
    color: #ff7885;
    background-color: #f1f1f1;
    padding: 10px 20px 10px 20px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-family: 'Shrikhand', cursive;
}

.logout:hover{
    background-color: #b5b6c1;
}
/*#endregion Login_Style*/

/*#region Register_Style*/

#regDiv{
    width:100%;
    height:100%;
    background: url(img/bg3.gif) no-repeat 0% 87% fixed;
    background-size: 100% 100%;
    text-align: center;
}
.sub-header{
    font-size: 30px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    border-top-right-radius: 5%;
    border-top-left-radius:5% ;
    margin-bottom: 10px;
}
.birthday{
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    margin-bottom: 5px;

}

#canvas{
    position: absolute;
    vertical-align: baseline;
    height: 80%;
    width: 50%;
    padding: 0 3% 3% 3%;
    display: block;
    margin-left: 20%;
     margin-right: 25%
}
.register{
    margin: 2% auto;
    background: rgba(22, 18, 31, 0.52);
    width: 32%;
    font-family: 'Shrikhand', cursive;
    border-radius: 5%;
}
.reg-main{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
}
.reg-main input[type="text"], .reg-main input[type="password"] {
    outline: none;
    margin: 4px 0px 1px 1px;
    color: black;
    padding: 10px 38px;
    border: none;
    border-radius: 2px;
    width: 68%;
    font-family: 'Lato', sans-serif;
}
.reg-main input[type="date"] {
    outline: none;
    margin: 4px 0px 1px 1px;
    color: black;
    padding: 10px 38px;
    border: none;
    border-radius: 2px;
    width: 68%;
    font-family: 'Lato', sans-serif;
}

.reg-main input[type="submit"] {
    padding: 10px 40px;
    margin: 4px 0px 10px 1px;
    color: white;
    background: #040124;
    border: none;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    border-radius: 50%;
    font-family: 'Shrikhand', cursive;
}
.reg-main input[type="submit"]:hover{
    background-color: #b5b6c1;
}

input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
.icon1 {
    top: 12px;
}

.icon1, .icon2, .icon3, .icon4, .icon5, .icon6 {
    position: absolute;
    left: 51px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.83);
    width: 22px;
}

.data {
    margin-bottom: 8px;
    font-size: 18px;
    border: 0px solid transparent;
    background-color: white;
    padding: 6px 12px;
    border-radius: 2px;
    width: 250px;
    opacity: 1.0 ;
}

/*#endregion Register_Style*/

#main {
    min-height: 400px;
    border-radius: 5pt;
}
body {
    font-family: "Lato", sans-serif;

}
footer{
    background-color: #21192e;
    font-family: 'Shrikhand', cursive;
    color: #ffdd00;
    text-align: center;
}
.error{
    font-size: 15px;
    color: yellow;
    display: inline-block;
    font-family: David;
}
.styled-select {
   height: 29px;
   overflow: hidden;
   width: 6%;
   margin-left: 47%;
   margin-right: 47%;
   margin-bottom:2%;
}
.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px;
}
.styled-select.slate {
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}
.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}
.bday-select{
   margin-left: 0;
   margin-right: 0;
   width:60px;
  margin-bottom:0;
}
.yellow  { background-color: #eec111; }
.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}
.yellow select  { color: #000; }
.setting_header{
    font-size: 20px;
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 7px;
    color: white;
    letter-spacing: 3px;
    display: block;
    margin-bottom: 3px;
    font-family: 'Shrikhand', cursive;
     }

#welcome_user{
 color:white;
 font-size: 20px;
 font-family: 'Shrikhand', cursive;
 margin:0;
 padding-right:51%;
 padding-top:5%;
 letter-spacing: 2px;
 font-weight: normal;
 }

#user_board{
    margin: 1% 2% ;
    background: rgba(22, 18, 31, 0.52);
    width: 15%;
    font-family: 'Shrikhand', cursive;
    border-radius: 10%;
    float:right;

}
.lbl_Board{
    font-size: 20px;
    padding-top:0;
    padding-bottom:0;
     margin-top:2px;
     margin-bottom:2px;
     font-weight: normal;
}

.lbl_input{
    color:yellow;
    font-size: 22px;
     padding-top:0;
     padding-bottom:0;
     margin-top:2px;
     margin-bottom:2px;
     font-weight: normal;
}

.mirror {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.foo{
margin:0;
display:inline;
font-weight:none;
}
.email{
color: white;
}









